.render-item {
  padding: 2px 5px;
  margin: 2px 0;
  border-radius: 3px;
  border: 2px solid #fff;
  width: 200px;
}

.render-item--selectable:hover {
  cursor: pointer;
}

.render-item--selectable:hover {
  background: #eee;
  border: 2px solid #ddd;
}

.render-item--selected {
  border: 2px solid #44f;
  background: #ddf;
}
.render-item--selectable.render-item--selected:hover {
  border: 2px solid #44f;
  background: #ccf;
}
