.render-item {
  padding: 2px 5px;
  margin: 2px 0;
  border-radius: 3px;
  border: 2px solid #fff;

  background-color: transparent;
  display: flex;
  text-align: left;
  align-items: center;
}

.render-item--selectable:hover {
  cursor: pointer;
}

.render-item--selectable:hover {
  background-color: #eee;
  border: 2px solid #ddd;
}

.render-item--selected {
  border: 2px solid #44f;
  background: #ddf;
}

.render-item--selectable.render-item--selected:hover {
  border: 2px solid #44f;
  background: #ccf;
}

.render-item__visibility {
  margin-right: 0.25rem;
  display: flex;
}

.render-item__name {
  flex-grow: 1;
}
